body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > div {
    width: 95%;
}
.navy {
    background-color: rgb(52, 127, 189);
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#menu {
    width: 205px;
}
.actual-result {
    display: flex;
    flex-direction: row;
    width: 80%;
}

#show-result {
    list-style: none;
    font-weight: 800;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: flex-end;
}
#show-result > p {
    height: fit-content;
    margin-inline-end: auto;
}

#search, #searchBtn {
    height: 20px;
    align-self: center;
}
.main {
    height: 380px;
    display: flex;
    flex-direction: row;
}
.last-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: rgb(52, 127, 189);
    overflow: scroll;
}
.last-results > p {
    background-color: rgba(255, 174, 52, 0.664);
    border-radius: 5px;
    margin: 5px 5px;
}
.content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#map {
    border: 2px solid red;
    box-shadow: 59px -18px 18px #2a80c7cc;
}
.map-controls {
    width: 100px;
    margin-right: 10px;
}
.footer{
    height: 70px;
    background-color: rgb(52, 127, 189);
}