body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > div {
    width: 95%;
}
.navy {
    background-color: rgb(52, 127, 189);
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.actual-result {
    width: 80%;
}
#search, #searchBtn {
    height: 20px;
    align-self: center;
}
.main {
    height: 380px;
    display: flex;
    flex-direction: row;
}
.left-side {
    width: 20%;
    background-color: rgb(52, 127, 189);
}
.content {
    width: 80%;
}
.footer{
    height: 70px;
    background-color: rgb(52, 127, 189);
}