body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > div {
    width: 95%;
}
.navy {
    background-color: rgb(52, 127, 189);
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.actual-result {
    display: flex;
    flex-direction: row;
    width: 80%;
}

#show-result {
    list-style: none;
    font-weight: 800;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: flex-end;
}
#show-result > p {
    height: fit-content;
    margin-inline-end: auto;
}

#search, #searchBtn {
    height: 20px;
    align-self: center;
}
.main {
    height: 380px;
    display: flex;
    flex-direction: row;
}
.left-side {
    width: 20%;
    background-color: rgb(52, 127, 189);
}
.content {
    width: 80%;
}
.footer{
    height: 70px;
    background-color: rgb(52, 127, 189);
}